.firstview {
    background-image: url(../img/counter.jpg);
}

.story {
    padding: 0 15% 0 15%;
}

#chef_img {
    object-fit:cover;
    height: 300pt;
    width: 200pt;
}

.chef {
    display: flex;
    padding: 0 20%;
    margin: 5% 20%;
    padding: 5%;
    background-color: whitesmoke;
}

.chef_content {
    margin: 0 5%;
}

#cook {
    width: 100%;
}

#caption {
    font-family: 'Playball', cursive;
    font-size: 52px;
}

main p {
    margin: 30px;
    text-align: left;
}

.chef_content li {
    margin: 0 30px;
    text-align: left;
}