#menu section {
    margin: 0 10%;
}

#menu .food {
    display: flex;
    justify-content: center;
}

#menu .menu-left, .menu-right {
    text-align: center;
}

#menu #jump img {
    width: 50pt;
    height: 50pt;
    margin: 0;
}

.slider {
    margin-top: 110px;
}

.slider img {
    width: 70%;
    height: auto;
    margin: 4% 15%;
}

#menu section {
    background-color: whitesmoke;
    padding: 5%;
}

#menu h3 {
    font-size: 48px;
}

.menu-content {
    display: flex;
}

.menu-content .left {
    width: 70%;
}

.menu-content .right {
    width: 30%;
}

.menu-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.one-menu {
    padding: 3% 10%;
}

.menu-title {
    color: orange;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 5px;
}

.menu-detail {
    display: flex;
    flex-wrap: wrap;
}

.menu-detail p {
    min-width: 50%;
}

.child .menu-title {
    color: rgb(153, 185, 59);
}