* {
    margin: 0;
    padding: 0;
    font-family: 'Playball', cursive;
    font-family: 'Playfair Display', serif;
}

header {
    position: fixed;
    inset: 0 0 85% 0;
    height: 70px;
    padding: 20px 5%;

    background-color: #505455;
    color: #000;

    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1;

    list-style: none;
    text-align: left;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

header p {
    color: #F5EFE6;
    font-size: 26px;
}

a {
    text-decoration: none;
    color: #F5EFE6;
}

#la {
    color: #a7a6a6;
    font-size: 12px;
    margin: 14px;
}

h1 {
    font-size: 120px;
    color: #F5EFE6;
    font-family: 'Playfair Display', serif;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
}

body {
    background-color: #D0C9A2;
}

h2 {
    font-size: 32px;
    margin: 10% 10% 3% 10%;
}

h3 {
    font-size: 32px;
    margin-bottom: 30px;
}

section {
    margin-top: 120px;
    text-align: center;
    align-items: center;
}

img {
    width: 500px;
}

iframe {
    width: 90%;
    margin: 0 5%;
}

.firstview {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/restaurant_1.jpg);
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode:lighten;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.content {
    display: flex;
    text-align: center;
    margin: 0 100px;
}

.content-right, .content-left {
    width: 50%;
    margin: 2%;
}

.menu-content {
    text-align: left;
}

.menu-title {
    font-size: 18px;
    margin: 8px 0;
}

.menu-caption {
    margin-bottom: 30px;
}

.menu-content-left {
    width: 20%;
}

.slider img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: #000;
}

.menu-content-right {
    width: 80%;
}

#info-content {
    margin: 0 30px;
    width: 400px;
}

.text {
    text-align: left;
}

#day {
    white-space: nowrap;
}

footer {
    text-align: center;
    background-color: #505455;
    color: #F5EFE6;
    height: 100px;
    display: flex;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer-content .right-content {
    margin-right: 0;
}

.footer-content img {
    width: 50px;
}


footer p {
    margin: 2%;
    font-size: 24px;
}

footer a {
    margin: 0 10px;
}
